<div>
  <div id="headerDiv">
    <app-header>
    </app-header>
  </div>
  <div>
    <div>
      <app-leftbody>
      </app-leftbody>
    </div>
    <div>
      <app-rightbody>
      </app-rightbody>
    </div>
  </div>
  <div>
    <app-footer>
    </app-footer>
  </div>
</div>
<!-- <div >
  <div class="Header" >
    <h3>Header</h3>
  </div>
  <div style="display: flex; color:white; height: 500px; padding: 5%;">
    <div class="subHeader">
      <p>
        Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text
      </p>
      <input type="button" value="Button1">
    </div>
    <div style="flex-direction: row; flex:1;background-color: black; border:1px solid red">
      <p>
        Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text
      </p>
      <input type="button" value="Button2">
    </div>
  </div>
  <div style="display: flex; justify-content: center; background-color: black; color: white; border:1px solid red">
    <h3>Sticky Footer</h3>
  </div>
</div> -->