<div class="item2">
    <div>
      <p>
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
      </p>
      <input type="button" value="Button 1">
    </div>
    <div>
      <p>
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
        SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText SampleText
      </p>
      <input type="button" value="Button 2">
    </div>
  </div>